.item {
  width: 100%;
  height: auto;
  border: 1px solid $gray-light;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  
  @media (min-width: 768px) {
    width: calc(100%/4 - 22px);
    margin-right: 10px;
  }
}

.item--reverse {
  align-self: center;
  padding-bottom: 10px;
}

.item--inline {
  padding-bottom: 10px;
  box-sizing: border-box;
  
  @media (min-width: 768px) {
    width: calc(100%/4 - 8px);
  }
}
