.task-eight {
  margin-top: 30px;
  margin-bottom: 30px;
}

.task-eight__table {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.task-eight__table .table__item:first-child,
.task-eight__table .table__item:nth-child(2),
.task-eight__table .table__item:nth-child(2n+1),
.task-eight__table .table__item:nth-child(3n) {
  border-right: none;
}

.task-eight__table .table__item:first-child,
.task-eight__table .table__item:nth-child(2),
.task-eight__table .table__item:nth-child(3),
.task-eight__table .table__item:nth-child(4) {
  border-bottom: none;
}