.button {
  height: 40px;
  background-color: $blue;
  padding: 8px 30px;
  color: $white-basic;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid $white-basic;
  cursor: pointer;
  width: 100%;
}

.active,
.button:hover {
    opacity: 80%;;
}